---
import FormLayout from '../layouts/FormLayout.astro';
import Card from '../components/Card.astro';
---

<FormLayout title="Welcome to Astro.">
  <!-- BOOKING FORM -->
  <main x-data="getData()">
    <section
      x-show="active===1"
      class="booking-form-1 flex flex-col items-center md:items-start md:flex-row gap-10 lg:gap-[76px] pb-14 px-6 lg:px-10"
    >
      <div class="form-area w-[90%] mt-5 md:mt-0 md:w-1/2 bg-blue">
        <p
          class="text-base md:text-xl lg:text-[36px] font-semibold py-3 md:py-4 lg:py-5 text-center text-white border-b border-white"
        >
          Instant Fare Quote
        </p>
        <form
          action="https://api.sheetmonkey.io/form/q7tw3RbKgpPUYVWRDbSaKT"
          class="px-5 lg:px-8 flex flex-col gap-4 lg:gap-10 py-4 md:py-8 lg:py-10"
        >
          <div class="flex flex-col items-end gap-2 md:gap-5">
            <div class="input-group w-full">
              <input
                type="text"
                class="py-3 lg:py-5 px-5 md:px-6 lg:px-11 w-full outline-none text-[13px] md:text-base lg:text-3xl bg-[#e5f9fd] placeholder:text-blue text-blue"
                required
                x-model="formData.pickup"
                x-on:input="findAddress('pickup')"
                placeholder="Enter pickup location"
                id="pickup"
              />
              <p class="text-red-500 text-sm" x-text="errors['pickup']"></p>
            </div>
            <!-- START DESTINATION -->
            <div class="input-group flex gap-2 w-full flex-col relative">
              <input
                type="text"
                class="py-3 lg:py-5 px-5 md:px-6 lg:px-11 w-full outline-none text-[13px] md:text-base lg:text-3xl bg-[#e5f9fd] placeholder:text-blue text-blue"
                required
                x-model="formData.destination"
                id="destination"
                x-on:input="findAddress('destination')"
                placeholder="Enter dropoff location"
              />
              <p class="text-red-500 text-sm" x-text="errors['destination']">
              </p>
            </div>
            <!-- END DESTINATION -->

            <button
              class="bg-[#e5f9fd] text-blue text-[10px] md:text-xs lg:text-base py-3 lg:py-4 w-max pl-6 lg:pl-12 pr-2 lg:pr-3 rounded-3xl"
            >
              Add waypoint
            </button>
          </div>

          <!-- MAP -->
          <div id="mapContainer" class="h-[144px] md:h-[188px] lg:h-[350px]">
            <!-- 1map stuff -->
            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
              <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
            </div>
          </div>

          <div class="flex flex-col items-end gap-3 md:gap-5">
            <div class="input-group w-full">
              <label
                for=""
                class="text-white text-sm md:text-base lg:text-3xl font-semibold"
                >Pickup Date & Time</label
              >
              <div class="flex items-center bg-[#e5f9fd] mt-1 md:mt-3">
                <div class="w-full">
                  <input
                    type="date"
                    class="py-3 lg:py-5 px-5 lg:px-11 outline-none w-full text-sm md:text-base lg:text-3xl bg-[#e5f9fd] placeholder:text-blue text-blue"
                    required
                    x-model="formData.pickup_date"
                    placeholder="Enter Pickup Date"
                  />
                  <p
                    class="text-red-500 text-sm"
                    x-text="errors['pickup_date']"
                  >
                  </p>
                </div>

                <div class="selects flex w-[45%]">
                  <div class="relative w-1/2 border-l-2 border-blue text-blue">
                    <!-- START PICKUP TIME -->

                    <select
                      id="return_hour"
                      class="block absolute appearance-none w-full text-blue bg-[#e5f9fd] text-sm md:text-xl w-full h-full py-3 lg:py-5 px-1 focus:outline-none"
                      required
                      x-model="formData.hour"
                    >
                      <option value="">0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>

                    <!-- END PICKUP TIME -->
                    <div
                      class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                    >
                      <svg
                        class="fill-blue h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div class="relative w-1/2 border-l-2 border-blue">
                    <!-- START HOUR -->
                    <select
                      class="block appearance-none w-full text-blue bg-[#e5f9fd] text-sm md:text-base lg:text-xl py-3 lg:py-5 px-1 leading-tight focus:outline-none"
                      id="return_min"
                      id="grid-state"
                      required
                      x-model="formData.min"
                    >
                      <option value="">select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                    <!-- END PICKUP HOUR -->

                    <div
                      class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                    >
                      <svg
                        class="fill-blue h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- passangers and bags -->
          <div class="grid grid-cols-2 md:mt-4 gap-2 md:gap-5">
            <div class="flex flex-col gap-2 md:gap-4">
              <label
                for=""
                class="text-white text-sm md:text-base lg:text-3xl font-semibold"
                >Passangers</label
              >
              <div class="relative w-full border-l-2 border-blue">
                <!-- START PASSENGER SELECT -->
                <div class="w-full">
                  <select
                    class="block appearance-none w-full text-blue bg-[#e5f9fd] text-sm md:text-base lg:text-3xl py-3 lg:py-5 px-4 lg:px-11 leading-tight focus:outline-none"
                    type="number"
                    min="1"
                    id="passengers"
                    required
                    x-model="formData.passengers"
                  >
                    <option value="">Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                  </select>
                  <p class="text-red-500 text-sm" x-text="errors['passengers']">
                  </p>
                </div>

                <!-- END PASSENGER SELECT -->
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-blue h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-2 md:gap-4">
              <label
                for=""
                class="text-white text-sm md:text-base lg:text-3xl font-semibold"
                >Bags</label
              >
              <div class="relative w-full border-l-2 border-blue">
                <!-- START LUGGAGE -->
                <div class="">
                  <select
                    class="block appearance-none w-full text-blue bg-[#e5f9fd] text-sm md:text-base lg:text-3xl py-3 lg:py-5 px-4 lg:px-11 leading-tight focus:outline-none"
                    name="lagguage"
                    id="lagguage"
                    required
                    x-model="formData.lagguage"
                  >
                    <option value="">Select</option>
                    <option>None</option>
                    <option>1</option>
                  </select>
                  <p class="text-red-500 text-sm" x-text="errors['lagguage']">
                  </p>
                </div>

                <!-- END LUGGAGE -->

                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-blue h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <!-- one way -->
          <div class="relative w-full">
            <select
              class="block appearance-none w-full text-blue bg-[#e5f9fd] text-sm md:text-base lg:text-3xl py-3 lg:py-5 px-5 lg:px-11 leading-tight focus:outline-none"
              id="grid-state"
              x-model="formData.type"
            >
              <option value="one-way">One way</option>
              <option value="two-way">Two way</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-blue h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>

          <button
            type="submit"
            x-on:click.prevent="active++"
            class="bg-black text-sm md:text-base text-white py-3 md:py-5 font-bold"
          >
            RESERVE NOW
          </button>
          <p class="text-center text-xs lg:text-2xl text-white">
            If you have already book the ride then manage your bookings
          </p>
        </form>

        <div class="flex justify-center mb-6 md:mb-10">
          <button
            class="bg-white text-sm md:text-base text-blue py-3 md:py-4 rounded-xl px-5 md:px-10"
          >
            Manage your Bookings
          </button>
        </div>
      </div>
      <div class="w-[90%] md:w-1/2 flex flex-col">
        <h2 class="text-2xl lg:text-5xl font-medium mt-10 lg:mt-20">
          Taxi Booking
        </h2>
        <p class="text-base lg:text-3xl mt-9 lg:mt-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud
        </p>
        <p class="text-base lg:text-3xl text-blue mt-7 lg:mt-10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
        </p>
        <p class="text-base lg:text-3xl mt-9 lg:mt-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud
        </p>

        <div
          class="h-[241px] lg:h-[450px] bg-[#D9D9D9] mt-5 [background-image:url('/images/angus.png')] bg-no-repeat bg-cover"
        >
        </div>
      </div>
    </section>

    <!--STEP 2 -->
    <section class="pb-20" x-show="active===2">
      <div class="container px-4 lg:px-20 mx-auto">
        <div class="w-full flex flex-wrap lg:flex-nowrap gap-6">
          <!-- START SELECT VEHICLE -->
          <div class="w-full lg:w-1/3">
            <div class="w-full bg-[#E5F9FD]">
              <div
                class="header px-4 py-3 shadow-md bg-transparent w-full text-blue text-lg lg:text-2xl"
              >
                Select Vehicle
              </div>
              <div class="content flex flex-col gap-4 divide-y">
                <div class="flex gap-8 py-6 px-4">
                  <div class="w-2/3">
                    <img src="../images/car_13.png" alt="" srcset="" />
                  </div>
                  <div class="w-1/3 gap-2">
                    <h5 class="text-xl mb-1">Saloon</h5>
                    <h4 class="font-bold text-xl mb-2">$50</h4>

                    <button class="px-4 py-0.5 rounded bg-blue text-white">
                      select
                    </button>
                  </div>
                </div>
                <div class="flex gap-8 py-6 px-4">
                  <div class="w-2/3">
                    <img src="../images/car_13.png" alt="" srcset="" />
                  </div>
                  <div class="w-1/3 gap-2">
                    <h5 class="text-xl mb-1">Saloon</h5>
                    <h4 class="font-bold text-xl mb-2">$50</h4>

                    <button class="px-4 py-0.5 rounded bg-blue text-white">
                      select
                    </button>
                  </div>
                </div>
                <div class="flex gap-8 py-6 px-4">
                  <div class="w-2/3">
                    <img src="../images/car_13.png" alt="" srcset="" />
                  </div>
                  <div class="w-1/3 gap-2">
                    <h5 class="text-xl mb-1">Saloon</h5>
                    <h4 class="font-bold text-xl mb-2">$50</h4>

                    <button class="px-4 py-0.5 rounded bg-blue text-white">
                      select
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END SELECT VEHICLE -->

          <div class="w-full lg:w-2/3">
            <!-- START JOURNERY -->
            <div class="w-full bg-blue">
              <div
                class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
              >
                Select Vehicle
              </div>
              <div class="content p-4">
                <div class="text-lg lg:text-xl py-2 text-white">
                  First Journey
                </div>
                <div class="w-3/4">
                  <table class="w-full table text-[#E5F9FD]">
                    <tbody>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">From</td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">To:</td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Date:</td>
                        <td class="lg:w-1/4 py-3">28/10/2022</td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Pickup Time:</td>
                        <td class="lg:w-1/4 py-3"> 12:00</td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Return:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Distance:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Passengers:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Bags:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END JOURNEY -->
            <!-- START PASSENGER DETAILS -->
            <div class="w-full bg-blue mt-6">
              <div
                class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
              >
                Passenger Details
              </div>
              <div class="content p-4 py-12">
                <form
                  action=""
                  class="w-full grid grid-cols-1 lg:grid-cols-2 text-white gap-4"
                >
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">First Name*</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">Last Name*</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">Email*</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">Phone Number*</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                </form>
              </div>
            </div>
            <!-- END PASSENGER DETAILS -->

            <!-- START JOURNEY DETAILS -->
            <div class="w-full bg-blue mt-6">
              <div
                class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
              >
                Journey Details
              </div>
              <div class="content p-4 py-12">
                <form
                  action=""
                  class="w-full grid grid-cols-1 lg:grid-cols-2 text-white gap-4"
                >
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">Flight Number</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                  <!-- START INPUT GROUP -->
                  <div class="">
                    <label for="" class="">Origin</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->

                  <!-- START INPUT GROUP -->
                  <div class="col-span-2 w-full">
                    <label for="" class="">Phone Number*</label>
                    <input
                      type="text"
                      class="w-full bg-[#E5F9FD] mt-1 bg-white px-3 py-2.5"
                    />
                  </div>
                  <!-- END INPUT GROUP -->
                </form>
              </div>
            </div>
            <!-- END JOURNEY DETAILS -->
          </div>
        </div>
      </div>
    </section>

    <!-- STEP 3 -->
    <section class="pb-20" x-show="active===3">
      <div class="container px-4 lg:px-20 mx-auto">
        <div class="w-full flex flex-wrap lg:flex-nowrap gap-6">
          <div class="w-full lg:w-2/3">
            <!-- START JOURNERY -->
            <div class="w-full bg-blue">
              <div
                class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
              >
                Select Vehicle
              </div>
              <div class="content p-4">
                <div class="text-lg lg:text-xl py-2 text-white">
                  First Journey
                </div>
                <div class="w-3/4">
                  <table class="w-full table text-[#E5F9FD]">
                    <tbody>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">From</td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">To:</td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Date:</td>
                        <td class="lg:w-1/4 py-3">28/10/2022</td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Pickup Time:</td>
                        <td class="lg:w-1/4 py-3"> 12:00</td>
                        <td></td>
                      </tr>
                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Return:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Distance:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Passengers:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>

                      <tr class="border-t border-[#E5F9FD80] text-sm">
                        <td class="lg:w-1/4 py-3 font-medium">Bags:</td>
                        <td class="lg:w-1/4 py-3"> One</td>
                      </tr>
                      <td></td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END JOURNEY -->
            <!-- START PASSENGER DETAILS -->
            <div class="w-full bg-blue mt-6">
              <div
                class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
              >
                Passenger Details
              </div>
              <div class="content p-4 text-white text-sm">
                <div class="w-full flex justify-between gap-4">
                  <div class="w-full lg:w-1/4 flex flex-col">
                    <div class="flex justify-between py-2">
                      <p>Passengers</p>
                      <p>One</p>
                    </div>
                    <div class="flex justify-between py-2">
                      <p>Bags</p>
                      <p>One</p>
                    </div>
                  </div>
                  <div class="w-full lg:w-1/2">
                    <div class="flex justify-between py-2">
                      <p>Passengers</p>
                      <p>One</p>
                    </div>
                    <div class="flex justify-between py-2">
                      <p>Name:</p>
                      <p>Talha</p>
                    </div>
                    <div class="flex justify-between py-2">
                      <p>Email:</p>
                      <p>abc@gmail.com</p>
                    </div>
                    <div class="flex justify-between py-2">
                      <p>Phone:</p>
                      <p>123 456 789</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END PASSENGER DETAILS  -->
          </div>
        </div>
      </div>
    </section>

    <section class="pb-20" x-show="active===4">
      <div class="container px-4 lg:px-20 mx-auto">
        <div
          class="w-full flex flex-wrap lg:flex-nowrap items-center justify-center gap-6"
        >
          <div class="w-full lg:w-2/3 bg-[#E5F9FD] rounded-lg p-6">
            <div class="w-full flex flex-col items-center justify-center">
              <h4 class="semi-bold text-blue text-xl lg:text-2xl mb-6">
                Your Booking is Done
              </h4>
              <div class="">
                <div
                  class="h-6 w-6 rounded-full bg-[#4A940F] flex items-center justify-center text-white"
                >
                  <svg
                    width="25"
                    height="18"
                    class="h-4 w-4"
                    viewBox="0 0 29 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.1785 20.4147L0.6875 10.9238L2.50943 9.10182L10.1785 16.7709L26.4488 0.50061L28.2707 2.32254L10.1785 20.4147Z"
                      fill="white"></path>
                  </svg>
                </div>
              </div>
              <p class="text-lg lg:text-xl font-semibold mb-4 mt-4 text-blue">
                Thank you for your collabration !
              </p>
              <p class="text-blue text-sm lg:text-base">
                We have received your Payment. You will receive an confirmation
                email with the details of your booking
              </p>
            </div>
            <!-- START CONGRATULATION -->
            <div class="w-full">
              <div class="content p-4 text-blue">
                <div class="w-3/4">
                  <table class="w-full table">
                    <tbody>
                      <tr
                        class="border-t border-[#E5F9FD80] text-base lg:text-lg"
                      >
                        <td class="lg:w-1/4 py-3 font-medium">
                          Pickup Location:
                        </td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td class="w-1/2 text-right">
                          <div class="w-full flex justify-end">
                            <img
                              src="../images/car_13.png"
                              alt=""
                              srcset=""
                              class="h-20 w-1/2 object-fit"
                            />
                          </div>
                        </td>
                      </tr>
                      <tr
                        class="border-t border-[#E5F9FD80] text-base lg:text-lg"
                      >
                        <td class="lg:w-1/4 py-3 font-medium">
                          Drop-off Location:
                        </td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                      <tr
                        class="border-t border-[#E5F9FD80] text-base lg:text-lg"
                      >
                        <td class="lg:w-1/4 py-3 font-medium">Pickup Time:</td>
                        <td class="lg:w-1/4 py-3">12:00 AM</td>
                        <td></td>
                      </tr>
                      <tr
                        class="border-t border-[#E5F9FD80] text-base lg:text-lg"
                      >
                        <td class="lg:w-1/4 py-3 font-medium">Driver:</td>
                        <td class="lg:w-1/4 py-3">Miachel Strauss</td>
                        <td></td>
                      </tr>
                      <tr
                        class="border-t border-[#E5F9FD80] text-base lg:text-lg"
                      >
                        <td class="lg:w-1/4 py-3 font-medium">Car Type:</td>
                        <td class="lg:w-1/4 py-3">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit,
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="w-full flex items-center justify-center py-6">
                    <a href="#" class="underline text-[#FF0606]"
                      >Change or cancel your booking</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- END CONGRATULATIONS -->
          </div>
        </div>
      </div>
    </section>
    <script defer>
      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 50.064192, lng: -130.605469 },
          zoom: 3,
        });
        const card = document.getElementById('pac-card');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        const center = { lat: 50.064192, lng: -130.605469 };
        // Create a bounding box with sides ~10km away from the center point
        const defaultBounds = {
          north: center.lat + 0.1,
          south: center.lat - 0.1,
          east: center.lng + 0.1,
          west: center.lng - 0.1,
        };
        const input = document.getElementById(element);
        const options = {
          bounds: defaultBounds,
          componentRestrictions: { country: 'us' },
          fields: ['address_components', 'geometry', 'icon', 'name'],
          strictBounds: false,
          types: ['establishment'],
        };

        const autocomplete = new google.maps.places.Autocomplete(
          input,
          options
        );

        // Set initial restriction to the greater list of countries.
        autocomplete.setComponentRestrictions({
          country: ['us', 'pr', 'vi', 'gu', 'mp'],
        });

        const southwest = { lat: 5.6108, lng: 136.589326 };
        const northeast = { lat: 61.179287, lng: 2.64325 };
        const newBounds = new google.maps.LatLngBounds(southwest, northeast);

        autocomplete.setBounds(newBounds);

        const infowindow = new google.maps.InfoWindow();
        const infowindowContent = document.getElementById('infowindow-content');

        infowindow.setContent(infowindowContent);

        const marker = new google.maps.Marker({
          map,
          anchorPoint: new google.maps.Point(0, -29),
        });

        autocomplete.addListener('place_changed', () => {
          infowindow.close();
          marker.setVisible(false);

          const place = autocomplete.getPlace();

          if (!place.geometry || !place.geometry.location) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert(
              "No details available for input: '" + place.name + "'"
            );
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17); // Why 17? Because it looks good.
          }

          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          let address = '';

          if (place.address_components) {
            address = [
              (place.address_components[0] &&
                place.address_components[0].short_name) ||
                '',
              (place.address_components[1] &&
                place.address_components[1].short_name) ||
                '',
              (place.address_components[2] &&
                place.address_components[2].short_name) ||
                '',
            ].join(' ');
          }

          infowindowContent.children['place-icon'].src = place.icon;
          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-address'].textContent = address;
          infowindow.open(map, marker);
        });

        // Sets a listener on a given radio button. The radio buttons specify
        // the countries used to restrict the autocomplete search.
        function setupClickListener(id, countries) {
          const radioButton = document.getElementById(id);

          radioButton.addEventListener('click', () => {
            autocomplete.setComponentRestrictions({ country: countries });
          });
        }

        setupClickListener('changecountry-usa', 'us');
        setupClickListener('changecountry-usa-and-uot', [
          'us',
          'pr',
          'vi',
          'gu',
          'mp',
        ]);
      }

      window.initMap = initMap;

      //fetch function
      function fetchPlacesApiData(element) {
        const center = { lat: 50.064192, lng: -130.605469 };
        // Create a bounding box with sides ~10km away from the center point
        const defaultBounds = {
          north: center.lat + 0.1,
          south: center.lat - 0.1,
          east: center.lng + 0.1,
          west: center.lng - 0.1,
        };
        const input = document.getElementById(element);
        const options = {
          bounds: defaultBounds,
          componentRestrictions: { country: 'us' },
          fields: ['address_components', 'geometry', 'icon', 'name'],
          strictBounds: false,
          types: ['establishment'],
        };
        const autocomplete = new google.maps.places.Autocomplete(
          input,
          options
        );

        autocomplete.addListener('place_changed', function () {
          var place = autocomplete.getPlace();

          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            // Do anything you like with what was entered in the ac field.
            return;
          }
        });
      }

      fetchPlacesApiData('destination');
      fetchPlacesApiData('pickup');

      function getData() {
        return {
          getInput(e, type) {
            //  console.log("Type", type);
            //  console.log(this.formData.destination)
          },
          special_message_included: false,
          success: false,
          active: 1,
          activePopup: null,
          errors_count: 0,
          errors: [],
          items: [],
          formData: {
            name: '',
            email: '',
            phone: '',
            pickup: '',
            destination: '',
            type: '',
            'one-way': this.type,
            'two-way': this.type,
            pickup_date: '',
            hour: '',
            min: '',
            am_or_pm: '',
            return_date: '',
            return_hour: '',
            return_min: '',
            return_am_or_pm: '',
            flight_number: '',
            return_flight_number: '',
            special_requirenments: '',
            consent: '',
            lagguage: '',
            passengers: '',
          },

          setItem(val) {
            this.formData[this.activePopup] = val;
            this.items = [];
          },

          getErrorFields() {
            //Name
            if (this.formData.name === '') {
              this.errors['name'] = 'Name is required';
              this.errors_count++;
            }
            //email
            if (this.formData.email === '') {
              this.errors['email'] = 'Email is required';
              this.errors_count++;
            }
            //phone
            if (this.formData.phone === '') {
              this.errors['phone'] = 'Phone is required';
              this.errors_count++;
            }
            //pickup
            if (this.formData.pickup === '') {
              this.errors['pickup'] = 'Pickup is required';
              this.errors_count++;
            }
            //destination
            if (this.formData.destination === '') {
              this.errors['destination'] = 'Destination is required';
              this.errors_count++;
            }
            // type
            if (this.formData.type === '') {
              this.errors['type'] = 'Type is required';
              this.errors_count++;
            }
            //pickup_date
            if (this.formData.pickup_date === '') {
              this.errors['pickup_date'] = 'Pickup Date is required';
              this.errors_count++;
            }
            //hour
            if (this.formData.hour === '') {
              this.errors['hour'] = 'Hour is required';
              this.errors_count++;
            }
            // min
            if (this.formData.min === '') {
              this.errors['min'] = 'Min is required';
              this.errors_count++;
            }
            //am_or_pm
            if (this.formData.am_or_pm === '') {
              this.errors['am_or_pm'] = 'Am or PM is required';
              this.errors_count++;
            }

            //return. check whether the return fields are empty and two wat is checked
            //return_date

            if (
              this.formData.type === 'two-way' &&
              this.formData.return_date === ''
            ) {
              this.errors['return_date'] = 'Return Date is required';
              this.errors_count++;
            }

            //return_hour
            if (
              this.formData.type === 'two-way' &&
              this.formData.return_hour === ''
            ) {
              this.errors['return_hour'] = 'Return Hour is required';
              this.errors_count++;
            }
            //return_min
            if (
              this.formData.type === 'two-way' &&
              this.formData.return_min === ''
            ) {
              this.errors['return_min'] = 'Return Min is required';
              this.errors_count++;
            }
            //return_am_or_pm
            if (
              this.formData.type === 'two-way' &&
              this.formData.return_am_or_pm === ''
            ) {
              this.errors['return_am_or_pm'] = 'AM/PM Required';
              this.errors_count++;
            }
            //consent
            if (this.formData.consent !== true) {
              this.errors['consent'] = 'consent is required';
              this.errors_count++;
            }

            //passengers
            if (this.formData.passengers === '') {
              this.errors['passengers'] = 'passengers is required';
              this.errors_count++;
            }
            //lagguage
            if (this.formData.passengers === '') {
              this.errors['lagguage'] = 'lagguage is required';
              this.errors_count++;
            }

            console.log('errors', this.errors);
            return this.errors_count > 0 ? true : false;
          },
          toFormData(o) {
            return Object.entries(o).reduce(
              (d, e) => (d.append(...e), d),
              new FormData()
            );
          },
          postToEmail(form_data) {
            //github.com/github/fetch
            https: fetch('https://formsubmit.co/ajax/boratechlife@gmail.com', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json',
              },
              body: JSON.stringify({
                ...form_data,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  this.success = true;
                }
              })
              .catch((error) => {});
          },
          postFormDataToGoogleSheets(form_data) {
            const formData = this.toFormData(form_data);
            const scriptURL =
              'https://script.google.com/macros/s/AKfycbxsptwTlX65yZ05oS_iC7DX7CPhr85vXkeghRxi3FBrkaDS171WHUV2piZWUrLvaxYWWg/exec';
            fetch(scriptURL, { method: 'POST', body: formData })
              .then((response) => {
                if (response.status == 200) {
                  this.postToEmail(form_data);
                }
              })
              .catch((error) => console.error('Error!', error.message));
          },

          submitForm(e) {
            e.preventDefault();
            if (this.getErrorFields() > 0) {
              return;
            }
            // console.log(JSON.stringify(this.formData));
            this.postFormDataToGoogleSheets({
              ...this.formData,
              destination: document.querySelector('#destination').value,
              pickup: document.querySelector('#pickup').value,
            });
          },

          findAddress(active) {
            this.activePopup = active;
            var Text = this.pickup;

            if (Text === '') {
              alert('Please enter an address');
              return;
            }

            var Container = '';

            var Key = 'HX78-PR21-GH68-HC33',
              IsMiddleware = false,
              Origin = '',
              Countries = 'GBR',
              Limit = '10',
              Language = 'en-gb',
              url =
                'https://services.postcodeanywhere.co.uk/Capture/Interactive/Find/v1.10/json3.ws';
            var params = '';
            params += '&Key=' + encodeURIComponent(Key);
            params += '&Text=' + encodeURIComponent(Text);
            params += '&IsMiddleware=' + encodeURIComponent(IsMiddleware);
            params += '&Container=' + encodeURIComponent(Container);
            params += '&Origin=' + encodeURIComponent(Origin);
            params += '&Countries=' + encodeURIComponent(Countries);
            params += '&Limit=' + encodeURIComponent(Limit);
            params += '&Language=' + encodeURIComponent(Language);
            var http = new XMLHttpRequest();
            http.open('POST', url, true);
            http.setRequestHeader(
              'Content-type',
              'application/x-www-form-urlencoded'
            );
            const that = this;
            http.onreadystatechange = function () {
              if (http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                console.log(response);
                if (
                  response.Items.length == 1 &&
                  typeof response.Items[0].Error != 'undefined'
                ) {
                  alert(response.Items[0].Description);
                } else {
                  if (response.Items.length == 0)
                    alert('Sorry, there were no results');
                  else {
                    that.items = response.Items;
                  }
                }
              }
            };
            http.send(params);
          },
        };
      }
    </script>
  </main>
</FormLayout>
