---
import FormLayout from '../layouts/FormLayout.astro';
---

<FormLayout title="Welcome to Astro.">
  <!-- BOOKING FORM -->

  <section class="pb-20">
    <div class="container px-4 lg:px-20 mx-auto">
      <div class="w-full flex flex-wrap lg:flex-nowrap gap-6">
        <div class="w-full lg:w-2/3">
          <!-- START JOURNERY -->
          <div class="w-full bg-blue">
            <div
              class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
            >
              Select Vehicle
            </div>
            <div class="content p-4">
              <div class="text-lg lg:text-xl py-2 text-white">
                First Journey
              </div>
              <div class="w-3/4">
                <table class="w-full table text-[#E5F9FD]">
                  <tbody>
                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">From</td>
                      <td class="lg:w-1/4 py-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      </td>
                      <td></td>
                    </tr>
                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">To:</td>
                      <td class="lg:w-1/4 py-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      </td>
                      <td></td>
                    </tr>
                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Date:</td>
                      <td class="lg:w-1/4 py-3">28/10/2022</td>
                      <td></td>
                    </tr>
                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Pickup Time:</td>
                      <td class="lg:w-1/4 py-3"> 12:00</td>
                      <td></td>
                    </tr>
                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Return:</td>
                      <td class="lg:w-1/4 py-3"> One</td>
                    </tr>
                    <td></td>

                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Distance:</td>
                      <td class="lg:w-1/4 py-3"> One</td>
                    </tr>
                    <td></td>

                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Passengers:</td>
                      <td class="lg:w-1/4 py-3"> One</td>
                    </tr>
                    <td></td>

                    <tr class="border-t border-[#E5F9FD80] text-sm">
                      <td class="lg:w-1/4 py-3 font-medium">Bags:</td>
                      <td class="lg:w-1/4 py-3"> One</td>
                    </tr>
                    <td></td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- END JOURNEY -->
          <!-- START PASSENGER DETAILS -->
          <div class="w-full bg-blue mt-6">
            <div
              class="header px-4 py-3 shadow-md bg-[#E5F9FD] w-full text-blue text-lg lg:text-2xl"
            >
              Passenger Details
            </div>
            <div class="content p-4 text-white text-sm">
              <div class="w-full flex justify-between gap-4">
                <div class="w-full lg:w-1/4 flex flex-col">
                  <div class="flex justify-between py-2">
                    <p>Passengers</p>
                    <p>One</p>
                  </div>
                  <div class="flex justify-between py-2">
                    <p>Bags</p>
                    <p>One</p>
                  </div>
                </div>
                <div class="w-full lg:w-1/2">
                  <div class="flex justify-between py-2">
                    <p>Passengers</p>
                    <p>One</p>
                  </div>
                  <div class="flex justify-between py-2">
                    <p>Name:</p>
                    <p>Talha</p>
                  </div>
                  <div class="flex justify-between py-2">
                    <p>Email:</p>
                    <p>abc@gmail.com</p>
                  </div>
                  <div class="flex justify-between py-2">
                    <p>Phone:</p>
                    <p>123 456 789</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END PASSENGER DETAILS  -->
        </div>
      </div>
    </div>
  </section>
</FormLayout>
