---
export interface Props {
  title: string;
}

const { title } = Astro.props;
const pathName = Astro.url.pathname;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />

    <!-- SPLIDE-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/js/splide.min.js"
    ></script>
    <script src="//unpkg.com/alpinejs" is:inline defer></script>
    <script defer>
      let splide;

      // CUSTOM EXTENSION TO UPDATE SLIDE NUMBER
      function SlideNumber(Splide, Components) {
        function mount() {
          update();
          Splide.on("move", update);
        }

        function update() {
          document.querySelector("#currentSlide").textContent =
            Splide.index + 1;
          document.querySelector("#totalSlides").textContent = Splide.length;
          document.querySelector("#currentMobileSlide").textContent =
            Splide.index + 1;
          document.querySelector("#totalMobileSlides").textContent =
            Splide.length;
        }

        return {
          mount,
        };
      }
      document.addEventListener("DOMContentLoaded", function () {
        splide = new Splide(".splide", {
          type: "loop",
          autoplay: true,
          arrows: false,
          pagination: false,
        });

        splide.mount({ SlideNumber });
      });
      document.addEventListener("DOMContentLoaded", function () {
        var splide = new Splide(".asplide", {
          type: "loop",
          perPage: 2,
          perMove: 1,
          breakpoints:{
            767:{
              perPage:1
            }
          }
        });

        splide.mount();
      });
      function goTo(direction) {
        splide.go(direction);
      }
    </script>

    <script src="./index.js" defer></script>

    <script defer>
      (function () {
        var setting = {
          zoom: 11,
          queryString: "Nairobi, Kenya",
          place_id: "ChIJp0lN2HIRLxgRTJKXslQCz_c",
          satellite: false,
          centerCoord: [-1.3032127252997825, 36.84739688764218],
          cid: "0xf7cf0254b297924c",
          lang: "en",
          cityUrl: "/kenya/nairobi-222",
          cityAnchorText: "Map of Nairobi, Nakuru, Kenya",
          id: "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
          embed_id: "829131",
        };
        var d = document;
        var s = d.createElement("script");
        s.src = "https://1map.com/js/script-for-user.js?embed_id=829131";
        s.async = true;
        s.onload = function (e) {
          // GETTING CONTAINER HEIGHT
          const { clientHeight, clientWidth } =
            document.querySelector("#mapContainer");

          //SETTING HEIGHT FROM CONTAINER
          setting.height = clientHeight;
          setting.width = clientWidth;
          window.OneMap.initMap(setting);
        };
        var to = d.getElementsByTagName("script")[0];
        to.parentNode.insertBefore(s, to);
      })();
    </script>
    <script></script>
    <script
      is:inline
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRgUr5f49dnAb0Ub1vWtliyIfRqDqp3LQ&libraries=places"
    ></script>
  </head>
  <body>
    <!-- MOBILE NAV -->
    <div
      id="mobileNav"
      class="mobile-nav hidden lg:hidden fixed top-0 left-0 min-h-full w-full bg-white z-50"
    >
      <div
        style="
          background-image: url('/images/menubg.png');
          background-repeat: no-repeat;
          height: 84px;
        "
        class="md:bg-cover"
      >
        <div
          class="[backdrop-filter:blur(3.5px)] flex justify-center items-center text-blue font-semibold text-2xl w-full h-full bg-black/40"
        >
          <img src="/images/logo.png" alt="" />
          TAXI BOOKING
        </div>
      </div>
      <!-- welcome -->
      <!-- NAV TOGGLE -->
      <div
        class="bg-[#E5F9FD] py-4 text-blue p-10 flex items-center justify-between"
      >
        <button id="navToggle" onclick="closeNav()" class="lg:hidden">
          <img src="/images/menu.svg" class="h-9 aspect-square" alt="" />
        </button>
        <p class="text-center">Welcome to Taxi Boooking</p>
        <p class=""></p>
      </div>

      <!-- links -->
      <nav class="flex flex-col gap-9 p-10">
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/" ? "text-blue" : ""
            }`}
            onclick="closeNav()"
            href="/"><img src="/images/house.png" alt="" />Home</a
          >
        </li>
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/fleet" || pathName == "/fleet/" ? "text-blue" : ""
            }`}
            onclick="closeNav()"
            href="/fleet"><img src="/images/blue-car.png" alt="" />Fleets</a
          >
        </li>
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/pricing" || pathName == "/pricing/"
                ? "text-blue"
                : ""
            }`}
            onclick="closeNav()"
            href="/pricing"
            ><img src="/images/blue-dollar.png" alt="" />Pricing</a
          >
        </li>
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/booking" || pathName == "/booking/"
                ? "text-blue"
                : ""
            }`}
            onclick="closeNav()"
            href="/booking"
            ><img src="/images/blue-booking.png" alt="" />Booking</a
          >
        </li>
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/generic" || pathName == "/generic/"
                ? "text-blue"
                : ""
            }`}
            onclick="closeNav()"
            href="/generic"
            ><img src="/images/blue-circles.png" alt="" />About</a
          >
        </li>
        <li class="list-none text-xl">
          <a
            class={`flex items-center gap-6 ${
              pathName == "/services" || pathName == "/services/"
                ? "text-blue"
                : ""
            }`}
            onclick="closeNav()"
            href="/services"
            ><img src="/images/blue-car.png" alt="" />Services</a
          >
        </li>
      </nav>
    </div>
    <!-- MAIN HEADER -->
    <header
      class="site-container fixed left-0 w-full top-0 lg:static z-20 bg-white flex justify-between lg:justify-end shadow lg:shadow-none gap-28 items-center h-12 md:h-16 lg:h-[86px]"
    >
      <div
        class="container mx-auto w-full bg-white flex justify-between px-4 lg:px-20"
      >
        <!-- NAV TOGGLE -->
        <button id="navToggle" onclick="showNav()" class="lg:hidden">
          <img src="/images/menu.svg" class="h-9 aspect-square" alt="" />
        </button>
        <!-- LOGO -->
        <div class="logo flex items-center gap-5">
          <img src="/images/logo.png" alt="" class="h-6 md:h-12" />
          <a href="/"
            ><span class="text-blue font-medium text-xs md:text-2xl"
              >Company</span
            >
          </a>
        </div>

        <!-- NAVIGATION -->
        <nav class="items-center flex xl:gap-24 lg:gap-12">
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center gap-6 ${
                pathName == "/" ? "text-blue" : ""
              }`}
              onclick="closeNav()"
              href="/">Home</a
            >
          </li>
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center ${
                pathName == "/fleet" || pathName == "/fleet/" ? "text-blue" : ""
              }`}
              href="/fleet">Fleets</a
            >
          </li>
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center ${
                pathName == "/pricing" || pathName == "/pricing/"
                  ? "text-blue"
                  : ""
              }`}
              href="/pricing">Pricing</a
            >
          </li>
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center ${
                pathName == "/booking" || pathName == "/booking/"
                  ? "text-blue"
                  : ""
              }`}
              href="/booking">Booking</a
            >
          </li>
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center ${
                pathName == "/generic" || pathName == "/generic/"
                  ? "text-blue"
                  : ""
              }`}
              href="/generic">About</a
            >
          </li>
          <li class="list-none text-xl hidden lg:block">
            <a
              class={`flex items-center ${
                pathName == "/services" || pathName == "/services/"
                  ? "text-blue"
                  : ""
              }`}
              href="/services">Services</a
            >
          </li>

          <!-- <div class="flex items-center gap-5"> -->
          <!-- <button>
              <img src="/images/search.png" alt="" class="" />
            </button>

            <button>
              <img src="/images/bell.png" alt="" class="" />
            </button> -->
          <!-- </div> -->
        </nav>
      </div>
    </header>

    <slot />
    <!-- FOOTER -->
    <section>
      <div
        class="travel-with-us bg-cover bg-center"
        style="background-image: url('/images/build.png')"
      >
        <div
          class="bg-black/50  text-3xl lg:text-4xl  font-bold text-white pb-20 py-8 md:py-28 flex justify-center items-center"
        >
          Lets Travel With Us
        </div>
      </div>
      <div class="site-container bg-[#80B8DA] text-white py-3">
        <div
          class="sm:container sm:mx-auto px-7 md:px-11 lg:px-16 flex gap-3 md:gap-14"
        >
          <a href="https://www.facebook.com/">
            <img
              src="/images/facebook.png"
              alt=""
              class="h-4 md:h-5 aspect-square"
            />
          </a>
          <a href="https://www.linkedin.com/">
            <img
              src="/images/linkedin.png"
              alt=""
              class="h-4 md:h-5 aspect-square"
            />
          </a>
          <a href="https://www.instagram.com/">
            <img
              src="/images/instagram.png"
              alt=""
              class="h-4 md:h-5 aspect-square"
            />
          </a>
          <a href="https://twitter.com/">
            <img
              src="/images/twitter.png"
              alt=""
              class="h-4 md:h-5 aspect-square"
            />
          </a>
        </div>
      </div>

      <footer
        class="site-container grid grid-cols-1 md:grid-cols-5 py-10 gap-10 items-end sm:container sm:mx-auto px-7 md:px-11 lg:px-16"
      >
        <div class="brand md:col-span-2 md:px-0">
          <img
            src="/images/logo-big.png"
            class="w-[88px] lg:w-[166px]"
            alt=""
          />
          <p
            class="max-w-[50%] md:max-w-[188px] lg:max-w-[350px] text-base lg:text-lg font-medium text-[#80B8DA] md:text-[#7A7A7A]"
          >
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>

        <nav class="links px-5 md:px-0">
          <ul
            class="text-base lg:text-lg font-medium text-[#80B8DA] md:text-[#7A7A7A] flex flex-col gap-3"
          >
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/fleets">Fleets</a>
            </li>
            <li>
              <a href="/pricing">Pricing</a>
            </li>
            <li>
              <a href="/booking">Booking</a>
            </li>
            <li>
              <a href="/generic">About</a>
            </li>
            <li>
              <a href="/services">Services</a>
            </li>
          </ul>
        </nav>

        <div class="md:col-span-2 px-5 md:px-0">
          <div
            class="bg-[#B0D3E8] [box-shadow:0px_4px_4px_rgba(0,0,0,0.25)] text-base lg:text-lg w-max lg:w-full lg:h-[237px] py-[27px] px-8 rounded-tr-[42px] lg:rounded-tr-[80px] rounded-bl-[42px] lg:rounded-bl-[80px] flex items-start flex-col justify-center gap-5"
          >
            <div class="text-white md:text-black">
              <p>Email</p>
              <p>abc@gmail.com</p>
            </div>
            <div class="text-white md:text-black">
              <p>Phone</p>
              <p>123 456 789</p>
            </div>
          </div>

          <button
            class="bg-[#B0D3E8] md:hidden [box-shadow:0px_4px_4px_rgba(0,0,0,0.25)] font-semibold text-base lg:text-lg text-white mt-10 w-3/5 py-3 rounded-tr-[20px] rounded-bl-[20px]"
          >
            Call Now
          </button>
        </div>
      </footer>

      <div
        class="text-[#B0D3E8] md:text-[#7A7A7A] py-2 border-t text-base lg:text-lg border-[#80B8DA] text-center"
      >
        Copyright 2022 All Rights Reserved | Microsoft Learn Student Ambassador
        Imsciences
      </div>
    </section>
  </body>
</html>
